/* CSS Generated @ 13/12/2017- 0:24:18.51 */

body {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;


}

#title {
  text-align: center;
}

#wrapper{
  /*background-image: url("../images/slate.jpg");*/
  background-color: #f4f4f4;
}


article{
  padding: 30px;
  font-size: 0; /* DIVS SIDE BY SIDE */
}

p{
  font-size: 1rem;
}


/* NAVBAR ELEMENTS */
.navbar {
  text-align: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  padding: 15px;
  border-radius: 3px;
}
.navbar a.active{
  border-bottom: 1px solid #fff;
}
.navbar a:hover {
  color: #000;
  background: #fff;
}
/*********************************/


/* HEADER ELEMENTS */
#homeheader {
  /* DARKEN BACKGROUND IMAGE */
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/stir_fry.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  padding: 30px 30px 200px 30px;
}

.titlebox {
  padding: 30px;
  margin: 0 60px;
  text-align: center;
  max-width: 300px;
  margin: auto;
}
.titlebox-bordered{
  border: 1px solid #fff;
}
.titlebox_subtitle{
  font-size: 1.5rem;
}
/*********************************/



/* RESPONSIVE CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;


}
.container-flex{
  display: flex;
}
.container-panels{
  margin: 0 -50px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 50px;
}
.container-panels:last-child{
  padding-bottom: 0;
}
/* COLOR ALTERATION */
.container-inverted * {
  color: #fff;
}


/* 2 PANEL COMMENT AND IMAGE LAYOUT */
.panel_container{
  background-color: #444;
  background-image: url("../images/slate.jpg");
  margin: 0 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
/* INDIVIDUAL PANEL STYLING*/
.article_panel{
  /*padding: 30px;*/
  /*border: 1px solid #000;*/
  /*display: inline-block;*/
  flex: 1;
  background-color: #fff;
  position: relative;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.article_panel h2{
  color: #C92730;
}

/* OFFSETS FOR THE TWO PANELS */
.article_panel:nth-child(1){
  margin-bottom: 50px;
}
.article_panel:nth-child(2){
  margin-top: 50px;
  /*margin-left: -1px;*/
}
.panel_content{
  padding: 30px;
  /*Centre content*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
